@import "base";
@import "side";

body{
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
  min-height: 850px;
}
a{
  color: $link;
  @include transition (all .2s ease-in-out);
}
.main{
  margin-left: $sidebar_width;
  padding: 2em;
}