%meta{:charset => "UTF-8"}/
%link{:rel => "stylesheet", :href => "/stylesheets/zero.css", media: "screen"}/
%link{:rel => "stylesheet", :href => "/stylesheets/screen.css", media: "screen"}/
%title Structure