%footer
  .languages
    %ul
      %li
        %a{:href => "", :class => 'es'} ES
      %li
        %a{:href => "", :class => 'en'} EN
      %li
        %a{:href => "", :class => 'ge'} GE
      %li
        %a.fr{:href => "", :class => 'fr'} FR
  .social-links
    %ul
      %li
        %a{:href => "http://www.twitter.com", :class => 'twitter'} twitter
      %li
        %a{:href => "http://www.facebook.com", :class => 'facebook'} facebook