%footer
  .tripadvisor
    <div id="TA_certificateOfExcellence578" class="TA_certificateOfExcellence">
    <ul id="afY2pNLH" class="TA_links dUH4Ht">
    <li id="zpR4sAq2ZkW5" class="CheEAwMeVox">
    <a target="_blank" href="http://www.tripadvisor.es/"><img src="http://www.tripadvisor.es/img/cdsi/img2/awards/CoE2014_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
    </li>
    </ul>
    </div>
    <script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=578&amp;locationId=274309&amp;lang=es&amp;year=2014"></script>
  .languages
    %ul
      %li
        %a{:href => "", :class => 'es'} ES
      %li
        %a{:href => "", :class => 'en'} EN
      %li
        %a{:href => "", :class => 'ge'} GE
      %li
        %a.fr{:href => "", :class => 'fr'} FR
  .social-links
    %ul
      %li
        %a{:href => "http://www.twitter.com", :class => 'twitter'} twitter
      %li
        %a{:href => "http://www.facebook.com", :class => 'facebook'} facebook