%header
  .logo
    %h1
      Hostal El An&oacute;n
  .sub-logo
    %p
      Hostal | Restaurante | Bar
    %hr/
    %p
      Jimena de la Frontera
  %nav.main-menu
    = render :partial => "/layouts/links"